################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ProgramTrading/v15/Server/sqlite3
/Lab2/bin/Debug
/Lab1/obj/Debug
/Lab2/obj/Debug
/Lab2-2/bin/Debug
/Lab2-2/obj/Debug
/ProgramTrading/bin/Debug
/ProgramTrading/obj/Debug
/.vs/ProgramTrading/v15/.suo
/.vs
/NLog_Example/obj/Debug
/Packages
